//.account {
//  justify-content: center;
//  display: flex;
//}
//
//.transaction-table {
//  border: 3px solid #3f51b4;
//  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//  border-radius: 15px;
//}
/* Style for the home container */
.home-container {
  padding: 20px;
}

/* Style for the account cards */
.account {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some space between account cards */
}

/* Style for the transaction table */
.transaction-table {
  border: 3px solid #3f51b4;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto; /* Add overflow auto to enable scrolling if needed */
}

/* Style for the logged out message */
.logged-out-message {
  text-align: center;
  margin-top: 20px;
}

.logged-out-message strong {
  color: red;
  font-size: 24px;
}

.logged-out-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
  font-family: "Arial, sans-serif";
}

.welcome-section {
  margin-bottom: 30px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.headline {
  color: #2c3e50;
  font-size: 36px;
  margin-bottom: 10px;
}

.subheadline {
  color: #34495e;
  font-size: 18px;
  margin-bottom: 30px;
}
