<div *ngIf="(userService.user$ | async) as user; else loggedOut">
  <div class="home-container">
    <div class="row">
      <div *ngFor="let account of accounts" class="account col-sm">
          <app-account [account]="account" (newTransactionEvent)="refreshAccounts($event)">
          </app-account>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row transaction-table">
      <app-transactions-tabel [transactions]="transactions" (modifiedTransactionEvent)="refreshAccounts($event)"></app-transactions-tabel>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <h1><strong style="color:red;font-size: 42px">Please login first to have full access to the website!</strong></h1>
</ng-template>
