/* Style for the home container */
.home-container {
  padding: 20px;
}

/* Style for the account cards */
.account {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex: 0 0 calc(25% - 20px); /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
}
.accounts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the transaction table */
.transaction-table {
  border: 3px solid #3f51b4;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

/* Style for the logged out container */
.logged-out-container {
  text-align: center;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #3f51b4;
  margin-bottom: 12px;
}

/* Style for the welcome section */
.welcome-section {
  margin-bottom: 30px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.headline {
  color: #2c3e50;
  font-size: 36px;
  margin-bottom: 10px;
}

.subheadline {
  color: #34495e;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Style for the features section */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.feature {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.feature-icon {
  width: 340px; /* Increase the width of the feature icons */
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.feature p {
  color: #34495e;
}

/* Style for the call to action section */
.call-to-action {
  margin-top: 30px;
}

.call-to-action h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.call-to-action p {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 20px;
}

.register-button {
  background-color: #3f51b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #2c3e50;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    max-width: none;
    margin: 20px 0;
  }
}
