<div class="table-container">
  <div
    *ngIf="transactions != null && transactions.length > 0; else noTransactions"
  >
    <mat-tab-group>
      <mat-tab label="Transactions">
        <div class="filter-container" style="margin-top: 20px">
          <div class="datepicker">
            <mat-form-field appearance="outline">
              <input
                matInput
                [matDatepicker]="startDatePicker"
                placeholder="Start Date"
                [(ngModel)]="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="datepicker">
            <mat-form-field appearance="outline">
              <input
                matInput
                [matDatepicker]="endDatePicker"
                placeholder="End Date"
                [(ngModel)]="endDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="category-selector category-filter">
            <mat-form-field appearance="outline" class="category-select">
              <mat-select
                placeholder="Select Categories"
                [(ngModel)]="selectedCategories"
                multiple
              >
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.value"
                >
                  {{ category.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="payee-search">
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Search Payee"
                [(ngModel)]="searchPayee"
              />
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="applyFilter()"
            [disabled]="
              !startDate &&
              !endDate &&
              !(selectedCategories.length > 0) &&
              !searchPayee
            "
            class="filter-button"
          >
            Apply Filter
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="resetDateFilter()"
            class="filter-button"
          >
            Reset Filter
          </button>
          <button
            mat-raised-button
            matTooltip="Talk with your personal finance assistant."
            color="primary"
            class="filter-button"
            (click)="openChat()"
          >
            <i class="material-icons">chat</i>
          </button>
        </div>
        <table
          class="table-mat-class"
          mat-table
          [dataSource]="
            filteredTransactions
              | slice
                : pag.pageIndex * pag.pageSize
                : (pag.pageIndex + 1) * pag.pageSize
          "
        >
          <ng-container matColumnDef="Payee">
            <th mat-header-cell *matHeaderCellDef>Payee</th>
            <td mat-cell *matCellDef="let element">{{ element.payee }}</td>
          </ng-container>
          <ng-container matColumnDef="Account">
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td mat-cell *matCellDef="let element">{{ element.account }}</td>
          </ng-container>
          <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type === 0 ? "+" : "-" }}{{ element.value }}
              {{ element.currency }}
            </td>
          </ng-container>
          <ng-container matColumnDef="CreatedOnUtc">
            <th mat-header-cell *matHeaderCellDef>Date of Transaction</th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdOnUtc | date : "longDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button
                style="margin: 0 5px 0 5px"
                class="details-button"
                mat-raised-button
                matTooltip="See more details about transaction"
                (click)="onDetailsTransaction(row)"
              >
                Details
              </button>
              <button
                style="margin: 0 5px 0 5px; border-radius: 25px"
                mat-raised-button
                matTooltip="Edit Transaction"
                color="primary"
                (click)="onEditTransaction(row)"
              >
                Edit
              </button>
              <button
                mat-raised-button
                style="margin: 0 5px 0 5px; border-radius: 25px"
                matTooltip="Delete Transaction"
                color="warn"
                (click)="onDeleteTransaction(row)"
              >
                Delete
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          #pag
          [length]="filteredTransactions.length"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Subscriptions">
        <table
          *ngIf="
            subscriptions != null &&
              subscriptions.length > 0 &&
              filteredSubscriptions != null &&
              filteredSubscriptions.length > 0;
            else noSubscriptions
          "
          class="table-mat-class"
          mat-table
          [dataSource]="
            filteredSubscriptions
              | slice
                : pag.pageIndex * pag.pageSize
                : (pag.pageIndex + 1) * pag.pageSize
          "
        >
          <ng-container matColumnDef="Account">
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td mat-cell *matCellDef="let element">{{ element.account }}</td>
          </ng-container>
          <ng-container matColumnDef="Payee">
            <th mat-header-cell *matHeaderCellDef>Payee</th>
            <td mat-cell *matCellDef="let element">{{ element.payee }}</td>
          </ng-container>
          <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value >= 0 ? "+" : "" }}{{ element.value }}
              {{ element.currency }}
            </td>
          </ng-container>
          <ng-container matColumnDef="FirstPayment">
            <th mat-header-cell *matHeaderCellDef>First Payment</th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstPayment | date : "longDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="LastPayment">
            <th mat-header-cell *matHeaderCellDef>Last Payment</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lastPayment | date : "longDate" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="RemainingPayments">
            <th mat-header-cell *matHeaderCellDef>Remaining Payments</th>
            <td mat-cell *matCellDef="let element">
              {{ element.remainingPayments }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button
                style="margin: 0 5px 0 5px; border-radius: 25px"
                mat-raised-button
                matTooltip="Edit Subscription"
                color="primary"
                (click)="onEditTransaction(row)"
              >
                Edit
              </button>
              <button
                mat-raised-button
                style="margin: 0 5px 0 5px; border-radius: 25px"
                matTooltip="Delete Subscription"
                color="warn"
                (click)="onDeleteSubscription(row)"
              >
                Delete
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2ndTable"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns2ndTable"
          ></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #noTransactions>
  <div style="margin-left: 10px; margin-top: 10px">
    <h1>
      <strong style="color: #000000; font-size: 25px; text-align: center"
        >You currently have not added any transactions to this account. After
        you will add some transactions they will appear here.</strong
      >
    </h1>
  </div>
</ng-template>
<ng-template #noSubscriptions>
  <div style="margin-left: 10px; margin-top: 10px">
    <h1>
      <strong style="color: #000000; font-size: 25px; text-align: center"
        >You currently have not added any subscriptions to this account. After
        you will add some subscriptions they will appear here.</strong
      >
    </h1>
  </div>
</ng-template>
