.page-container {
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
}

.account-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.account-details {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 3px solid #3f51b4;
  width: 100%; /* Full width for mobile */
  max-width: 400px; /* Max width for larger screens */
  margin: auto; /* Center the container */
  padding: 20px; /* Add padding for better spacing */
  background-color: #fff; /* Add background color for contrast */
  transition: transform 0.2s, box-shadow 0.2s;
}

.account-details:focus,
.account-details:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.22);
}

.detail-box {
  background-color: #fdfdfd;
  border: solid 1px #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.detail-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.detail-value {
  font-size: 16px;
  color: #333;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 10px; /* Add gap between buttons */
}

button {
  flex: 1;
  border-radius: 25px;
}

.transaction-container {
  display: flex;
  justify-content: center;
}

.transaction-table {
  background-color: #fff;
  border: 3px solid #3f51b4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 100%; /* Full width for mobile */
  max-width: 800px; /* Max width for larger screens */
  margin: auto; /* Center the container */
  padding: 20px; /* Add padding for better spacing */
}

.add-transaction-button-container {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .account-details {
    width: 45%; /* Adjust width for larger screens */
    max-width: none; /* Remove max-width */
  }

  .transaction-table {
    width: 90%; /* Adjust width for larger screens */
    max-width: none; /* Remove max-width */
  }
}
