<div *ngIf="account != null" class="page-container">
  <div class="account-container">
    <div class="account-details" tabindex="0" aria-label="Account Details">
      <div class="detail-box">
        <p class="detail-label">Account Name</p>
        <p class="detail-value">{{ account.name }}</p>
      </div>
      <div class="detail-box">
        <p class="detail-label">Balance</p>
        <p class="detail-value">{{ account.balance }} {{ account.currency }}</p>
      </div>
      <div class="detail-box">
        <p class="detail-label">Type of Account</p>
        <p class="detail-value">{{ account.type }}</p>
      </div>
    </div>
  </div>
  <br />
  <div class="transaction-container">
    <div class="transaction-table" tabindex="0" aria-label="Transaction Table">
      <app-transactions-tabel
        [transactions]="account.transactions"
        (modifiedTransactionEvent)="refreshAccount($event)"
      ></app-transactions-tabel>
    </div>
  </div>
  <div class="add-transaction-button-container">
    <button
      mat-mini-fab
      matTooltip="Add Transaction"
      color="primary"
      aria-label="Add Transaction"
      (click)="openAddTransactionForm()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
