<div *ngIf="account != null" class="page-container">
  <div class="account-container">
    <div class="account-details" tabindex="0" aria-label="Account Details">
      <div class="detail-box">
        <p class="detail-label">Account Name</p>
        <p class="detail-value">{{ account.name }}</p>
      </div>
      <div class="detail-box">
        <p class="detail-label">Balance</p>
        <p class="detail-value">{{ account.balance }} {{ account.currency }}</p>
      </div>
      <div class="detail-box">
        <p class="detail-label">Type of Account</p>
        <p class="detail-value">{{ account.type }}</p>
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="editAccount()">
          Edit Account
        </button>
        <button mat-raised-button color="warn" (click)="deleteAccount()">
          Delete Account
        </button>
      </div>
    </div>
  </div>
  <div class="transaction-container">
    <div class="transaction-table" tabindex="0" aria-label="Transaction Table">
      <app-transactions-tabel
        [transactions]="account.transactions"
        (modifiedTransactionEvent)="refreshAccount($event)"
      ></app-transactions-tabel>
    </div>
  </div>
  <div class="add-transaction-button-container">
    <button
      mat-mini-fab
      matTooltip="Menu"
      color="primary"
      aria-label="Menu"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddTransactionForm()">
        <mat-icon>add</mat-icon>
        <span>Add Transaction</span>
      </button>
      <button mat-menu-item (click)="importTransactionsFromCSV()">
        <mat-icon>file_upload</mat-icon>
        <span>Import Transactions from CSV</span>
      </button>
    </mat-menu>
    <button
      mat-mini-fab
      matTooltip="Download Transactions as CSV"
      color="primary"
      aria-label="Download Transactions as CSV"
      (click)="downloadCsv()"
    >
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
