<div *ngIf="account != null">
  <div class="account-details">
    <div class="detail-box">
      <p class="detail-label">
        Account Name
      </p>
      <p class="account-name">
        {{account.name}}
      </p>
    </div>
    <div class="detail-box">
      <p class="detail-label">
        Balance
      </p>
      <p class="account-balance">
        {{account.balance}} {{account.currency}}
      </p>
    </div>
    <div class="detail-box">
      <p class="detail-label">
        Type of account
      </p>
      <p class="account-balance">
        {{account.type}}
      </p>
    </div>
<!--    <div class="detail-box">-->
<!--      <transactions-show [transactions]="account.transactions"></transactions-show>-->
<!--    </div>-->
  </div>
</div>
