<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="account-form">
  <div mat-dialog-content class="content">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Account name"
          formControlName="name"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input
          matInput
          type="number"
          placeholder="Balance"
          formControlName="balance"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency" required>
          <mat-option disabled>---</mat-option>
          <mat-option
            *ngFor="let currency of currencyValues"
            [value]="currency"
          >
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-radio-group
        aria-label="Select an option"
        formControlName="accountType"
        required
      >
        <mat-label><b>Account Type</b></mat-label>
        <mat-radio-button color="primary" value="0">Cash</mat-radio-button>
        <mat-radio-button color="primary" value="1"
          >Bank Account</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="accountForm.invalid"
    >
      {{ isEditMode ? "Update Account" : "Create Account" }}
    </button>
  </div>
</form>
