.account-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

mat-label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
mat-select {
  width: 100%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Default primary color */
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
