.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #4758b8; /* Match navbar color */
  height: 100px;
}

.navbar-brand img {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  color: #ffffff;
  margin-right: 10px;
}

.mat-toolbar button,
.mat-toolbar .mat-button {
  color: #ffffff;
  background-color: #4758b8; /* Match navbar color */
  border: solid 1px #4758b8;
  border-radius: 15px;
  margin: 0 8px;
  cursor: pointer;
}

.mat-toolbar button:hover,
.mat-toolbar .mat-button:hover {
  background-color: #3a4870; /* Darker shade on hover */
}

.sidenav-container {
  height: 100%;
}

.mat-tree-node-children {
  margin-left: 20px;
}

.mat-sidenav {
  width: 250px;
}

.mat-sidenav mat-nav-list {
  padding-top: 20px;
}

.mat-sidenav mat-divider {
  margin: 20px 0;
}

.mat-nav-list h4 {
  margin: 0 0 10px 16px;
  color: #4758b8; /* Match navbar color */
}

.mat-nav-list .mat-list-item {
  color: #4758b8;
}

.mat-nav-list .mat-list-item:hover {
  background-color: #f1f1f1;
}

.mat-nav-list .mat-tree-node {
  padding-left: 16px;
}
h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}
