<mat-toolbar color="primary">
  <span
    ><a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Fiscal Flow</a
    ></span
  >
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <span class="spacer"></span>
    <a
      class="nav-link"
      routerLink="/account/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <span class="spacer"></span>
    <a
      class="nav-link"
      routerLink="/account/create-account"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Account</a
    >
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user">
    <span matTooltip="Hi {{ user.firstName }}" class="user-info">
      Hi {{ user.firstName | titlecase }}
    </span>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="!(user$ | async)">
    <button mat-button routerLink="/user/register">Create Account</button>
    <button mat-button routerLink="/user/login">Login</button>
  </ng-container>
</mat-toolbar>
