<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span
    ><a class="logo-name" style="text-decoration: none; color: inherit" href="/"
      >Fiscal Flow</a
    ></span
  >
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <span class="spacer"></span>
    <a
      class="nav-link"
      routerLink="/account/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <span class="spacer"></span>
    <a
      class="nav-link"
      routerLink="/account/create-account"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Account</a
    >
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user">
    <span matTooltip="Hi {{ user.firstName }}" class="user-info">
      Hi {{ user.firstName | titlecase }}
    </span>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="!(user$ | async)">
    <button mat-button routerLink="/user/register">Create Account</button>
    <button mat-button routerLink="/user/login">Login</button>
  </ng-container>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Content</h2>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
